# Utility Provider Credentials 
# https://myaccount.ladwp.com/oamsso/login.html?contextType=external&username=string&contextValue=%2Foam&password=sercure_string&challenge_url=https%3A%2F%2Fmyaccount.ladwp.com%2Foamsso%2Flogin.html&request_id=5634695040547893580&authn_try_count=0&locale=en_US&resource_url=https%253A%252F%252Fmyaccount.ladwp.com%252Fladwp%252Ffaces%252FAccountSummary
# Example format:
# PROVIDER_USERNAME=Piccardmgmt
# PROVIDER_PASSWORD=Israel2023$

# AppFolio Credentials
APPFOLIO_API_KEY=your_appfolio_api_key
APPFOLIO_CLIENT_ID=13c36508420a52c147cd26c5189e3496
APPFOLIO_CLIENT_SECRET=eeb4e65c393eed22bcc3384a078c6011
APPFOLIO_BASE_URL=https://api.appfolio.com

# Download Settings
DOWNLOAD_PATH=./downloaded_bills
CURRENT_BILLING_PERIOD_MONTHS=3  # How many months back to download

# Logging
LOG_LEVEL=INFO
